.block1
{
    margin-top: 40px;
    background-image: url(top.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 97% 280px;

}

.main-container1
{
    margin: auto;
    width: 45%;
	color: #555555;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left-container
{
    margin-top: 150px;
    width: 280px;
  	margin-bottom: 0px;
}

.right-container
{
    margin-top: 150px;
	margin-left: 0px;
}

.quote-block
{
    padding-top: 50px;
    margin-bottom: 60px;
}

.blockquote
{
    font: italic 28px Georgia;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0px;
    left: -40px;
    width: 500px;
    position: relative;
    top: -14px;
}

.quote-text
{
    font: normal 16px Georgia;
    margin-top: 0;
    padding: 0;
    width: 440px;
    color: #ffffff;
}

.up-main-img
{
    border-radius: 5px;
	  height: 280px;
    margin-bottom: 30px;
}

.info-block
{
    width: 300px;
}

.list-element
{
    font-family: "Georgia";
	  font-weight: 18px;
    margin-bottom: 15px;
}

.info-header
{
    color: #15a98c;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
	  font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-family: "Open Sans";
}

.info-list
{
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 18px;
}

.list-block
{
    width: 530px;
    margin-right: 120px;
}

.list-paragraph
{
    font-family: "Georgia";
    line-height: 200%
}

.title
{
	  color: #333333;
    font-size: 48px;
    line-height: 42px;
    font-weight: 700;
  	font-family: "Open Sans";
    margin: 0;
}

.title::after
{
    content: ' ';
 	display: block;
    background-color: #45c3aa;
    height: 6px;
    width: 60px;
  	border-radius: 3px;
  	margin-top: 20px;
	margin-bottom: 45px;
}

.second-title
{
	  color: #333333;
    font-family: "Open Sans";
    font-size: 30px;
    margin: 0;
    margin-bottom: 0px;
  	margin-top: 40px;
    padding: 0;
}

.me-vk
{
    font-size: 18px;
    color: #15a98b;
    padding-bottom: 100px;
    padding-top: 100px;
    text-decoration: none;
}

.underlined-text
{
    text-decoration: underline;
}

.block2
{
    background-color: #f9f9f9;
    background-position: center;
    background-size: 50% 0;
}

.main-container2
{
    margin: auto;
    width: 60%;
	color: #555555;
}

.points
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.point
{
    flex: 1;
    width: 300px;
    margin: 10px;
}

.point-title
{
    font-size: 22px;
    line-height: 32px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
}

.point-text
{
    width: 285px;
    height: 565px;
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia";
}

.point-picture
{
    border-radius: 5px;
}

.button-block
{
    text-align: center;
}

.button
{
    background-color: #45c3aa;
    width: 220px;
    height: 50px;
    color: white;
    border-radius: 10px;
    border:none;
	margin-bottom: 50px;
}

.button:hover
{
  	background: #FF6347;
}

.title-second-block
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
    padding-top: 15px;
    margin: 10px;
}

.main-container3
{
    margin: auto;
    width: 60%;
	color: #555555;
}

.title-third
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.title-third-block
{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/*
.line
{
	margin-top: 20px;
    content: ' ';
 	  display: block;
    background-color: #000000;
    height: 2px;
    width: 250px;
  	border-radius: 3px;
}*/

.connection
{
	margin: auto;
    width: 80%;
	text-align: center;
}

.header-form-point
{
	font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.small-form
{
	width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #c9c9c9;
    border: 2px solid #c9c9c9;

}

.small-form:focus
{
    outline: none !important;
  	border-color: #15a98c;
}

.red-text
{
	  color: red;
}

.connection-point
{
	  width: 100%;
    text-align: left;
}








.btn
{
    background-color: #15a98c;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 3.45rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.page-feedback
{
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.page-feedback-container
{
  width: 960px;
  height: 940px;
  display: flex;
  flex-direction: column;
}

.page-feedback-header
{
  display: flex;
  margin-top: 27px;
  align-items: center;
  justify-content: center;
  margin-right:13px;
}

.line
{
  width: 200px;
  border: none; /* Убираем границу */
  background-color: #c4c4c4; /* Цвет линии */
  color: #c4c4c4; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  flex: 0 0 200px;
  margin: 0;
  padding: 0;
}

.page-feedback-title
{
  text-transform: uppercase;
  font: 100 36px/42px "Open Sans", sans-serif;
  text-align: center;
  margin-top: 0px;
  flex: 0 0 300px;
}

label
{
  display: block;
  font: 20px/32px "Open Sans", sans-serif;
  margin-bottom: 5px;
  color: #333333;
}

.form
{
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input
{
  border: 2px solid #c9c9c9;
  width: 540px;
  height: 50px;
  padding-left: 18px;
}

input.input:focus
{
  border: 2px solid #15a98c;
  outline: 0;
}

.star
{
  color: #ee0707;
  font-weight: bold;
}

.field-email
{
  margin-top: 23px;
}

.field-country
{
  margin-top: 23px;
}

select
{
  font: 18px/32px "Open Sans", sans-serif;
  color: #333333;
}

select.input:focus
{
  border: 2px solid #15a98c;
  outline: 0;
}

.field-sex
{
  margin-top: 41px;
}

.field-sex-option
{
  margin-top: -15px;
  display: flex;
}


.option-text-first input[type="radio"]
{
  margin-right: 10px;
}

.option-text-first, .option-text-second
{
  font: 18px/32px "Open Sans", sans-serif;
  color: #333333;
}

.option-text-second
{
  margin-left: 40px;
}

.input-comment
{
  height: 150px;
  font: 18px/32px "Open Sans", sans-serif;
  color: #333333;
}

.field-comment
{
  margin-top: 15px;
}

textarea.input:focus
{
  border: 2px solid #15a98c;
  outline: 0;
}


.btn-form-container
{
  display: flex;
  justify-content: flex-start;
  margin-top: 45px;
}

.btn-form
{
  padding: 0.5rem 3.8rem;
}
